@{
    ViewBag.Title = "供求信息";
}


<style>
    .thumbnails img {
        width: 160px;
        height: 60px;
    }

    .link {
        color: #aeaeae;
    }
</style>

<div class="span8">
    <div>
        <h5 class="page-header">求购产品 <span class="pull-right"><a href="~/trade/list?type=0&size=50" target="_blank">更多>></a></span></h5>
        @{Html.RenderAction("getpartiallist", "trade", new { type = (int)TradeType.买, size = 15, israndom = false });}
    </div>
    <div>
        <h5 class="page-header">出售产品 <span class="pull-right"><a href="~/trade/list?type=1&size=50" target="_blank">更多>></a></span></h5>
        @{Html.RenderAction("getpartiallist", "trade", new { type = (int)TradeType.卖, size = 15, israndom = false });}
    </div>
    <div>
        <h5 class="page-header">产品备件 <span class="pull-right"><a href="~/trade/list?type=2&size=50" target="_blank">更多>></a></span></h5>
        @{Html.RenderAction("getpartiallist", "trade", new { type = (int)TradeType.备件, size = 15, israndom = false });}
    </div>
</div>
<div class="span4">
    <div class="span4">
        <h5 class="page-header">热门品牌</h5>
        @{Html.RenderAction("getpartiallist", "company", new { view = "HotCompanys", type = -1, size = 10 });}
    </div>
    <div class="span4">
        <h5 class="page-header">热门产品</h5>
        @{Html.RenderAction("getpartiallist", "product", new { view = "productsbyhit", type = -1, size = 5 });}
    </div>
</div>
