@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="对不起，出错了-工控/工业控制/工控网/中国工控网/工业控制网/中国工业控制网/企业信息化门户-工业控制及自动化领域最专业、最权威的资讯传媒-中国工业控制网" />
    <meta name="keywords" content="工控网,工业控制网,中国工业控制网,自动化,工控,工业自动化,工业控制,自动控制,工厂自动化,自动化教程,plc教程,工控机教程" />
    <meta name="description" content="中国工业控制网简称（中国工控网、工控网、工业控制网）是国内工业控制及自动化领域最专业、最权威的资讯传媒和交流学习平台，提供最新最全的工控产品、工控供求信息、工控学习资料、工控行业动态、工控人才招聘和工控企业与厂商信息。" />
    <title>对不起，出错了 - 工控/工业控制/工控网/中国工控网/工业控制网/中国工业控制网/企业信息化门户-工业控制及自动化领域权威咨询、资讯传媒-中国工业控制网</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .logo {
            height: 40px;
            margin-left: 25px;
        }
    </style>
</head>
<body data-offset="50" style="padding-top: 55px;">
    <div class="container">
        <div class="masthead">
            <div class="navbar navbar-fixed-top">
                <div class="span2">
                    <img class="logo img-rounded" src="/content/images/logo-red.png" width="140" height="38" alt="工业控制网" />
                </div>
                <div class="navbar-inner">
                    <div class="container">
                        @{Html.RenderPartial("Navbar", ViewContext.RouteData.Values["controller"]);}
                        <div class="pull-right">
                            <button class="btn">登录</button>
                            <button class="btn">注册</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="span10">
            <div class="hero-unit">
                <a href="http://www.gkwcn.com" title="中国工业控制网">
                    <img src="~/Content/images/logo.png" alt="中国工业控制网" />
                </a>
                <h2>对不起，出错了</h2>

                <p>对不起，服务器可能出现了异常，请您稍候重试！</p>
                @if (!Context.Error.IsNull())
                {
                    <p>错误信息：@Context.Error.Message</p>
                }

                <p><a class="btn btn-primary btn-large" href="http://www.gkwcn.com">返回首页 &raquo;</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="footer pagination-centered">
            <div class="span8 offset2"><a href="aboutme.html">联系我们</a> | <a href="#">本站介绍</a> | <a href="#">用户注册</a> | <a href="#">帮助信息</a> | <a href="#">网站地图</a> | <a href="#">版权声明</a> | <a href="#">友情链接</a></div>
            <div class="span8 offset2">Copyright © 2012 工业制控网（中国）版权所有. All Rights Reserved. 京公网安备110108008324号 </div>
        </div>

        <div class="hide">
            <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fff52d78c6978c422e5a26b27cd26ecc8' type='text/javascript'%3E%3C/script%3E"));
            </script>
        </div>
    </div>
</body>
</html>
